.theme_dark {
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__text {
  color: #000028;
  background-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {

  .theme_auto {
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__text {
    color: #000028;
    background-color: var(--accent-color);
  }
}
