.theme_light {
  --text-color: #353430;
  --accent-color: #ff8dcb;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header_rec {
  display: none;
}

.theme_light .header__theme-menu-button.header__theme-menu-button_active {
  outline-color: var(--text-color);
}

.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.theme_light .decorated-zone::after,
.theme_light .decorated-zone::before {
  border-color: var(--text-color);
}

.theme_light .header__title {
  color: #ffc2e6;
  text-shadow: 4px 4px 0 #ff0070;
}

.theme_light .section__title {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  .theme_auto {
    --text-color: #353430;
    --accent-color: #ff8dcb;
    background-image: url(../images/cover-image-light.png);
  }

  .theme_auto .header_rec {
    display: none;
  }

  .theme_auto .header__theme-menu-button.header__theme-menu-button_active {
    outline-color: var(--text-color);
  }

  .theme_auto .header__theme-menu-button {
    color: var(--text-color);
  }

  .theme_auto .decorated-zone::after,
  .theme_auto .decorated-zone::before {
    border-color: var(--text-color);
  }

  .theme_auto .header__title {
    color: #ffc2e6;
    text-shadow: 4px 4px 0 #ff0070;
  }

  .theme_auto .section__title {
    color: var(--text-color);
  }
}
